/* Font Face: Roboto (Google Fonts) */
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap') format('woff2');
    font-weight: 400, 700;
    font-style: normal;
    font-display: swap;
}
/* custom */
@font-face {
    font-family: custom-font-name;
    src: url("url from the folder or link");
}

:root {
    --one-block: calc(100vw / 36);
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    /* font-family: 'Roboto', system-ui, sans-serif; */
    font-family: "Anton", sans-serif;
    /* smoothing the font */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* smooth scroll */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* must have a parent container which have a dynamic width and height */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 3;
}
.marque {
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #D71E21;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--one-block) * 7);
    /* letter-spacing: calc(var(--one-block) * -1.125); */
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

main {
    width: 100%;
    height: 100%;
    z-index: 9;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    color: #EFE3D2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: calc(var(--one-block) * 0.25);
}
#chapter-nav p {
    transition: all 0.75s ease;
}
#chapter-nav p.active {
    color: #ff0000;
}

#content {
    width: 100%;
    height: 100vh;
    color: #EFE3D2;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
    outline: none;
    padding: calc(var(--one-block) * 1);
    /* pointer-events: none; */
}
#content h1 {
    font-family: "Anton", sans-serif;
}
#content p {
    font-family: "Roboto Condensed", sans-serif;
}

#transition-veil {
    /* position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: #282828; 
    z-index: 200; 
    transform: scaleY(0); 
    transform-origin: top; */
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 500; pointer-events: none;

}

#start-btn {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 300; 
    background: #ff0000; 
    color: white; 
    border: none;
    padding: 15px 40px; 
    font-weight: bold; 
    cursor: pointer;
}


/* Responsive Media Queries (Mobile-First) */
/* Phone view: up to 576px */
@media (max-width: 576px) {
    html, body {
        background-color: brown;
    }
}

/* Tablet view: 577px to 768px */
@media (min-width: 577px) and (max-width: 768px) {
    html, body {
        background-color: cadetblue;
    }
}